<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
              <img src="{{ url_for('static', filename='school_logo.png') }}" alt="School Logo">
                <h1>Alitagtag Senior Highschool</h1>
            </div>
        </nav>
    </header>

    <main>
        <section class="login-container">
            <h1>Login</h1>
            
            <form method="POST" action="/">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit">Log In</button><br><br><br>

            </form>
        </section>
    </main>
</body>
</html>
